@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap'); */

html {
    scroll-behavior: smooth;
}

/* 
body {
    font-family: 'Montserrat', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #47af73 #dcdee0;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #8492a6;
}

*::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 7.5px;
    border: 2px none white
}

:root {
    --primary: #ec9e23;
    --secondary: #47AF73;
    --homeBg1: #08111A;
    --homeBg2: #09131B;
    --white: 'white';
    --black: 'black';
    --customBlue: '#249';
    --gray-dark: '#273444';
    --gray: '#8492a6';
    --gray-light: '#d3dce6';
}