@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

:root {
    --primary: #ec9e23;
    --secondary: #47AF73;
    --homeBg1: #08111A;
    --homeBg2: #09131B;
    --white: 'white';
    --black: 'black';
    --customBlue: '#249';
    --gray-dark: '#273444';
    --gray: '#8492a6';
    --gray-light: '#d3dce6';
}