@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #47af73 #dcdee0;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #dcdee0;
}

*::-webkit-scrollbar-thumb {
    background-color: #47af73;
    border-radius: 7.5px;
    border: 2px none #ffffff;
}

:root {
    --primary: #ec9e23;
    --secondary: #47AF73;
    --homeBg1: #08111A;
    --homeBg2: #09131B;
    --white: 'white';
    --black: 'black';
    --customBlue: '#249';
    --gray-dark: '#273444';
    --gray: '#8492a6';
    --gray-light: '#d3dce6';
}